<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Şifre Değiştir</title>
    <link rel="stylesheet" href="/ChangePassword.css">
</head>
<body>
<div class="container">
    <h2>Şifre Değiştir</h2>

    <input type="password" id="oldPassword" placeholder="Mevcut Şifre">
    <input type="password" id="newPassword" placeholder="Yeni Şifre">

    <button onclick="submitPasswordChange()">Şifreyi Değiştir</button>

    <p id="message"></p>
</div>

<script src="/ChangePassword.js"></script>
<script>
    if (!localStorage.getItem("companyId")) {
        window.location.href = "http://localhost:8080/task/login";
    }
</script>
</body>
</html>
